<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <link rel="stylesheet" href="/styles/normalize.css" />
        <link rel="stylesheet" href="/styles/style.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />

    </head>

    <body>
        <header>
            <div class="logo">
                <img
                    src="/img/logo-mercado-liebre.svg"
                    alt="mercado-libre-logo"
                />
            </div>

            <form class="barra-de-busqueda">
                <input type="text" placeholder="Search..." />
                <button></button>
            </form>

            <div class="compra-en-cuotas-y-sin-tarjeta-de-credito">
                <a href="#">comprar en cuotas y sin tarjeta de credito</a>
            </div>

            <nav class="barra-de-navegacion">
                <ul class="barra-de-navegacion__lista-ul">
                    <div class="__lista-ul-one">
                        <li><a href="#">ofertas</a></li>
                        <li><a href="#">tiendas oficiales</a></li>
                        <li><a href="#">vender</a></li>
                        <li><a href="#">ayuda</a></li>
                    </div>
                    <br />
                    <div class="__lista-ul-two">
                        <li><a href="#">crea tu cuenta</a></li>
                        <li><a href="#">ingresa</a></li>
                        <li><a href="#">mis compras</a></li>
                    </div>
                </ul>
            </nav>
        </header>

        <main>
            <section class="banner" id="banner">
                <img src="img/img-home-banner.jpg" alt="banner" />
            </section>

            <section role="grupo" class="cards-ultima-vista">

                <h2>Ultimas vistas</h2>

                <div class="card_cafetera">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera" />
                    <div class="info-del-producto">
                        <div class="precio"><p>$6.770</p></div>
                        <div class="dedscuento"><p>40% off</p></div>
                        <div class="nombre_del_producto">
                            <h2>Cafetera Moulinex</h2>
                        </div>
                    </div>
                </div>
                <div class="card_macbook">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="macbook" />
                    <div class="info-del-producto">
                        <div class="precio"><p>$230.000</p></div>
                        <div class="dedscuento"><p>20% off</p></div>
                        <div class="nombre_del_producto">
                            <h3>MacBook Pro 2019</h3>
                        </div>
                    </div>
                </div>
                <div class="card_samsung_galaxi_s10">
                    <img
                        src="/img/img-samsung-galaxy-s10.jpg"
                        alt="samsung_galaxi_s10"
                    />
                    <div class="info-del-producto">
                        <div class="precio"><p>$70.500</p></div>
                        <div class="dedscuento"><p>10% off</p></div>
                        <div class="nombre_del_producto">
                            <h3>Samsung Galaxi</h3>
                        </div>
                    </div>
                </div>
                <div class="card_smart_tv_samsun_43pulgadas">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="smart_tv" />
                    <div class="info-del-producto">
                        <div class="precio"><p>$23.200</p></div>
                        <div class="dedscuento"><p>5% off</p></div>
                        <div class="nombre_del_producto">
                            <h3>SmartTv Samsung 43"</h3>
                        </div>
                    </div>
                </div>

            </section>
            <section class="cards-ofertas">

                <h2>Ofertas</h2>

                <div class="card_cafetera">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera" />
                    <div class="info-del-producto">
                        <div class="precio"><p>$6.770</p></div>
                        <div class="dedscuento"><p>40% off</p></div>
                        <div class="nombre_del_producto">
                            <h2>Cafetera Moulinex</h2>
                        </div>
                    </div>
                </div>
                <div class="card_macbook">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="macbook" />
                    <div class="info-del-producto">
                        <div class="precio"><p>$230.000</p></div>
                        <div class="dedscuento"><p>20% off</p></div>
                        <div class="nombre_del_producto">
                            <h3>MacBook Pro 2019</h3>
                        </div>
                    </div>
                </div>
                <div class="card_samsung_galaxi_s10">
                    <img
                        src="/img/img-samsung-galaxy-s10.jpg"
                        alt="samsung_galaxi_s10"
                    />
                    <div class="info-del-producto">
                        <div class="precio"><p>$70.500</p></div>
                        <div class="dedscuento"><p>10% off</p></div>
                        <div class="nombre_del_producto">
                            <h3>Samsung Galaxi</h3>
                        </div>
                    </div>
                </div>
                <div class="card_smart_tv_samsun_43pulgadas" >
                    <img src="/img/img-tv-samsung-smart.jpg" alt="smart_tv" />
                    <div class="info-del-producto">
                        <div class="precio"><p>$23.200</p></div>
                        <div class="dedscuento"><p>5% off</p></div>
                        <div class="nombre_del_producto">
                            <h3>SmartTv Samsung 43"</h3>
                        </div>
                    </div>
                </div>

            </section>
        </main>

        <footer>
            <section class="metodo-de-pago">
                <h5>Paga con tarjeta o efectivo</h5>
                <section>
                    <p>
                        Con MercadoLiebreCash tene cuotas sin interes con
                        tarjetas o efectivo en putos de pago. !y siempre es
                        seguro!
                    </p>
                </section>
            </section>

            <section class="envios">
                <h5>Envio gratis dedsde los $2.500</h5>
                <section>
                    <p>
                        Solo por estar registrado en Mercado Liebre tenes envios
                        gratis en miles de productos. Es un beneficio de Mercado
                        Puntos.
                    </p>
                </section>
            </section>

            <section class="seguridad">
                <h5>Seguridad de principio a fin</h5>
                <section>
                    <p>
                        No te gusta? !Devolvelo! En mercado liebre no hay nada
                        que no puedas hacer porque estas siempre protegid@
                    </p>
                    <p>Copyright &copy; 1999-2020 MercadoLiebre S.R.L.</p>
                </section>
            </section>
        </footer>

        <probando>
            <div
                role="group"
                class="andes-carousel-snapped__slide andes-carousel-snapped__slide--spacing-12 andes-carousel-snapped__slide--active"
                
            >
                <div
                    class="andes-card poly-layout poly-layout--grid-card highlight-seed andes-card--flat andes-card--padding-0 andes-card--animated"
                    id=":R8dd8du:"
                >
                    <div
                        class="poly-column poly-column--grid-card poly-column__portada poly-column__portada--grid-card"
                    >
                        <img
                            width="150"
                            height="150"
                            decoding="async"
                            src="https://http2.mlstatic.com/D_Q_NP_2X_919598-MCO52703558976_122022-T.webp"
                            class="poly-picture poly-picture--square"
                            alt=""
                        />
                    </div>
                    <div class="poly-column poly-column--grid-card">
                        <a
                            class="poly-text poly-column__title poly-title poly-title--grid-card poly-lh-s poly-fs-s"
                            href="https://articulo.mercadolibre.com.co/MCO-875536610-elevador-para-monitor-color-wengue-de-50cm-x-22cm-x-13cm-_JM#polycard_client=recommendations_home_navigation-recommendations&amp;reco_backend=machinalis-homes&amp;reco_client=home_navigation-recommendations&amp;reco_item_pos=0&amp;reco_backend_type=function&amp;reco_id=66ea73f1-056f-42c4-9fa9-37ca1d011e4e"
                            >Elevador Para Monitor Color Wengué De 50cm X 22cm X
                            13cm</a
                        >
                        <div class="poly-price poly-column__price">
                            <s
                                class="andes-money-amount andes-money-amount--previous andes-money-amount--cents-comma"
                                style="font-size: 12px"
                                ><span class="andes-visually-hidden"
                                    >Antes: 69900 pesos</span
                                ><span
                                    class="andes-money-amount__currency-symbol"
                                    aria-hidden="true"
                                    >$</span
                                ><span
                                    class="andes-money-amount__fraction"
                                    aria-hidden="true"
                                    >69.900</span
                                ></s
                            >
                            <div class="poly-price-current">
                                <span
                                    class="andes-money-amount andes-money-amount--cents-superscript"
                                    style="font-size: 24px"
                                    ><span class="andes-visually-hidden"
                                        >55920 pesos</span
                                    ><span
                                        class="andes-money-amount__currency-symbol"
                                        aria-hidden="true"
                                        >$</span
                                    ><span
                                        class="andes-money-amount__fraction"
                                        aria-hidden="true"
                                        >55.920</span
                                    ></span
                                ><span
                                    class="andes-money-amount__discount"
                                    style="font-size: 14px"
                                    >20% OFF</span
                                >
                            </div>
                            <span
                                class="poly-text poly-price-installments poly-fs-s poly-text-positive poly-lh-s"
                                ><span
                                    class="poly-text poly-fs-s poly-text-primary poly-lh-s"
                                    >en</span
                                >&nbsp;<!-- -->12x<!-- -->&nbsp;<span
                                    class="andes-money-amount poly-phrase-price andes-money-amount--cents-comma andes-money-amount--compact"
                                    style="font-size: 14px"
                                    ><span class="andes-visually-hidden"
                                        >4660 pesos</span
                                    ><span
                                        class="andes-money-amount__currency-symbol"
                                        aria-hidden="true"
                                        >$</span
                                    ><span
                                        class="andes-money-amount__fraction"
                                        aria-hidden="true"
                                        >4.660</span
                                    ></span
                                >&nbsp;<!-- -->sin interés</span
                            >
                        </div>
                    </div>
                </div>
            </div>
        </probando>
        
    </body>
</html>
