<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Mercado liebre sign up</title>

    <!-- icon del tab  -->
    <link rel="icon" type="image/svg" href="/img/svg/favicon.svg" />

    <!-- Nrmalize off ↓ -->
    <!-- <link rel="stylesheet" href="/styles/normalize.css" /> -->

    <!-- Estilos en general ↓ -->
    <!-- NOTA: los links tambien son afectados por css -->

    <link rel="stylesheet" href="/styles/header.css" />

    <link rel="stylesheet" href="/styles/sign-up.css" />

    <link rel="stylesheet" href="/styles/footer.css" />

    <link rel="stylesheet" href="/styles/media-queries.css" />

    <!-- <link rel="stylesheet" href="/style/carrusel.css"> -->

    <!-- EL normalize que estoy creando ↓ -->
    <link rel="stylesheet" href="/styles/general.css" />

    <!-- Font-awesome ↓ -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Google-fonts_Tipografia 'roboto' ↓ -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Roboto&display=swap"
        rel="stylesheet" />

    <!-- hoja de estilos que dieron en la consigna ↓ -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />



</head>

<body>

    <header class="header">

        <nav class="nav bar-de-navegacion">

            <section class="nav_top">

                <div class="nav_top_logo">
                    <a href="/"><img src="/img/svg/logo-mercado-liebre.svg" alt="mercado-libre-logo" /></a>
                </div>

                <form class="nav_top_form barra-de-busqueda" action="" method="">
                    <label class="nav_top_form_label-bar-serach" for="get"></label>
                    <input class="nav_top_form_input-bar-search" type="search" id="get" name="get"
                        placeholder="search..." />
                    <button type="submit" class="nav_top_form_button button-bar-of-search"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </form>

                <div class="nav_top_copy-header buy-in-installments-and-without-a-credit-card">
                    <h3><i class="fa-solid fa-hand-holding-dollar"></i>buy in installments and without a credit card
                    </h3>
                </div>

            </section>

            <section class="nav_botton">

                <ul class="nav_ul nav_ul-left">

                    <li class="nav_ul_li Offers">

                        <a href="#" class="a-container-left">
                            <span class="a_text">
                                Offers
                            </span>
                        </a>

                    </li>

                    <li class="nav_ul_li Official-store">

                        <a href="#" class="a-container-left">
                            <span class="a_text">
                                Official store
                            </span>
                        </a>

                    </li>

                    <li class="nav_ul_li sell">

                        <a href="#" class="a-container-left">
                            <span class="a_text">Sell</span>
                        </a>

                    </li>

                    <li class="nav_ul_li Help">

                        <a href="#" class="a-container-left">
                            <span class="a_text">
                                Help
                            </span>
                        </a>

                    </li>

                </ul>

                <ul class="nav_ul nav_ul-right">

                    <li class="nav_ul_li Sign-up">
                        <a href="/sign-up" class="a-container-rigth">

                            <span class="a_text">

                                Sign up

                                <i class="fa-regular fa-solid fa-id-card"></i>

                            </span>

                        </a>
                    </li>

                    <li class="nav_ul_li log-in">
                        <a href="/log-in" class="a-container-rigth">

                            <span class="a_text a_icon">
                                Log in

                                <i class="fa-solid fa-right-to-bracket"></i>
                            </span>

                        </a>
                    </li>

                    <li class="nav_ul_li My-shopping">
                        <a href="#" class="a-container-rigth">

                            <span class="a_text a_icon">
                                My shopping

                                <i class="fa-solid fa-basket-shopping"></i>
                            </span>

                        </a>
                    </li>

                </ul>

            </section>

            <span class="burger-menu">
                <i class="fas fa-bars"></i>
            </span>

        </nav>

    </header>

    <section class="form_sing-up">

        <div class="title">
            <h1>CREATE ACOUNT</h1>
        </div>

        <form class="form" action="/sign-up" method="post">

            <div class="fieldset one">

                <div class="field  full-name">
                    <label for="Name"></label>
                    <input class="rellenar" type="text" name="Name" id="Name" placeholder="First Name/Last Name"
                        required autocomplete="name">
                </div>

                <div class="field  username">
                    <label for="username"></label>
                    <input class="rellenar" type="text" name="username" id="username" placeholder="Username" required
                        autocomplete="username">
                </div>

                <div class="field  Email">
                    <label for="meil"></label>
                    <input class="rellenar" type="meil" name="meil" id="meil" placeholder="example@gmail.com" required>
                </div>

                <div class="field birthdate">

                    <div class="title-of-field">
                        <h3>Birthdate</h3>
                    </div>

                    <input class="rellenar" type="date" name="birthdate" id="birthdate" placeholder="Gustavo01"
                        required>

                </div>

                <div class="field address">

                    <input class="rellenar" type="text" placeholder="address" name="address" id="address"
                        autocomplete="country">

                </div>

            </div>

            <div class="fieldset two">

                <div class="field porfile">

                    <div class="title-of-field">
                        <h3>What is your profile?</h3>
                    </div>

                    <div class="selectores radios">

                        <div class="radio">
                            <input type="radio" name="porfile" id="seller">
                            <label for="seller">Seller</label>
                        </div>

                        <div class="radio">
                            <input type="radio" name="porfile" id="buyer">
                            <label for="buyer">Buyer</label>
                        </div>

                    </div>

                </div>

                <div class="field interested">

                    <div class="title-of-field">
                        <h3>what are you interested in?</h3>
                    </div>

                    <div class="selectores checkbox" id="interested">

                        <div class="check">
                            <input type="checkbox" name="electro" id="electro">
                            <label for="electro">Electro</label>
                        </div>

                        <div class="check">
                            <input type="checkbox" name="fashion" id="fashion">
                            <label for="fashion">Fashion</label>
                        </div>

                        <div class="check">
                            <input type="checkbox" name="home" id="home">
                            <label for="home">Home</label>
                        </div>

                        <div class="check">
                            <input type="checkbox" name="toy-store" id="toy-store">
                            <label for="toy-store">Toy store</label>
                        </div>

                        <div class="check">
                            <input type="checkbox" name="lifestyle" id="lifestyle">
                            <label for="lifestyle">Healthy lifestyle</label>
                        </div>

                    </div>

                </div>

                <div class="field photo-of-porfile">

                    <div class="title-of-field">
                        <h3>profile picture</h3>
                    </div>

                    <div class="selectores img">

                        <input type="file" name="image" id="image" accept="image/jpg, image/jpeg">

                    </div>

                </div>

            </div>

            <div class="fieldset three">

                <div class="field password">

                    <label for="password" aria-required="true">Password</label>

                    <input class="rellenar" type="password" name="password" id="password" placeholder="KL_3lalepassword"
                        required>

                </div>

                <div class="field confirm-password">

                    <label for="Confirm password" aria-required="true">Confirm password</label>

                    <input class="rellenar" type="password" name="Confirm password" id="Confirm password"
                        placeholder="KL_3lalepassword" required>

                </div>

                <div class="buttons">

                    <div class="button submit">
                        <input type="submit" value="sign up">
                    </div>

                    <div class="button delete">
                        <input type="reset" value="Delate all">
                    </div>

                </div>

            </div>

        </form>

    </section>

    <footer class="footer">

        <section class="footer_section metodo-de-pago">
            <i class="fa-solid fa-credit-card"></i>
            <h5>Pay by card or cash</h5>
            <p>
                With MercadoLiebreCash you have interest-free installments with cards or cash at payment points. And
                it's always safe!
            </p>
        </section>

        <section class="footer_section envios">
            <i class="fa-solid fa-gift"></i>
            <h5>Free shipping from $2,500</h5>
            <p>
                Just by being registered in MercadoLibre you have free shipping on thousands of products. It is a
                benefit of MercadoPuntos.
            </p>
        </section>

        <section class="footer_section seguridad">
            <i class="fa-solid fa-user-shield"></i>
            <h5>Security from start to finish</h5>
            <p> You do not like? Give it back! At MercadoLiebre there is nothing you can't do because you are always
                protected
            </p>
        </section>

        <sectio class="footer_section copy">
            <p>
                Copyright &copy; 1999-2024 MercadoLiebre S.R.L.
            </p>
        </sectio>

    </footer>


</body>

</html>