.log-in_form{
    /* display: flex; */
    flex-wrap: wrap;
    width: 90%;
    height: 50vh;
    margin: 20px auto;
    overflow: hidden;
    overflow-y: auto;
    background-color: #ebebeb;
    border-radius: 4px;
    align-content: center;



    & form{
        display: flex;
        margin: 0% auto;
        height: 50%;
        flex-wrap: wrap;
        padding: 0% 5%;
        width: 100%;
    }

    & .title{
        width: 100%;
        height: 5%;
        text-align: center;
        margin-top: 5% ;
        margin-bottom: 16%;
    }

    & .log-in_field{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-content: center;

        & .label{
            display: flex;
            width: 100%;
        }

        & .input{
            display: flex;
            width: 100%;
            
            & input{
                border-radius: 4px ;
                border: none;
                width: 100%;
                height: 25px;
            }
        }
    }

    & .log-in_button{
        display: flex;
        width: 100%;
        align-items: center;
        background-color: #1259c3;
        height: 30px;
        border-radius: 4px;

        & input{
            width: 100%;
            background-color: #0000;
            border: none;
            color: #fff;
        }
    }

    
}