.header{
    background-color: #eac926;
    font-size: 12px;
}

.icon{
    width: 1em;
}

.burger-menu{
    background-color: #1259c3;
    font-size: 2rem;

}

.info-del-producto{
    font-size: 18px;
}

.descuento .descripcion_del_producto{
    font-size: 16px;
} 

.titular{
    font-size: 24px;
}

.footer{
    text-align: center;
}

footer section i{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}